<app-sidebar></app-sidebar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">

                <!-- ./col -->
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>Ajouter un produit </h3>

                            <p></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a class="small-box-footer" (click)="ajouterMedoc()">Cliquez ici <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>Approvisionnement</h3>

                            <p></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a class="small-box-footer" (click)="approMedoc()">Cliquez ici <i
                                class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-2"></div>
            </div>
            <!-- /.row -->
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 *ngIf="ajoutMedoc">Nouveau médicament</h1>
                    <h1 *ngIf="approvisionnerMedoc">Approvisionnement</h1>
                </div>
                <div class="col-sm-6">
                    <h6 class="btn btn-warning btn-md float-sm-right">
                        <i class="fas fa-list">
                        </i>
                        <a href="dashboard/medicaments/list-medicament"
                            style="color: black; font-size: 15px;font-weight: 600;"> Liste des médicaments</a>
                    </h6>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form [formGroup]="medocForm" (ngSubmit)="onSubmitAjout()" *ngIf="ajoutMedoc">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Identification du médicament</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Nom commercial</label>
                                <input type="text" id="inputName" formControlName="nom_commercial" class="form-control">
                            </div>
                            <!-- <div class="form-group">
                <label for="inputDescription">Prénom</label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
              </div> -->

                            <div class="form-group">
                                <label for="inputClientCompany">Nom Générique</label>
                                <input type="text" id="inputClientCompany" formControlName="nom_generique"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Catégorie</label>
                                <select id="inputStatus" formControlName="categorie" class="form-control custom-select">
                                    <option selected disabled>Choisissez la Catégorie</option>
                                    <option>Antibiotique</option>
                                    <option>Analgésique</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Forme</label>
                                <select id="inputStatus" formControlName="forme" class="form-control custom-select">
                                    <option selected disabled>Choisissez la forme</option>
                                    <option>Sirop</option>
                                    <option>Comprimé</option>
                                    <option>Injection</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Dosage</label>
                                <select id="inputStatus" multiple formControlName="dosage" class="form-control custom-select">
                                    <option selected disabled>Choisissez le dosage</option>
                                    <option>250 mg</option>
                                    <option>500 mg</option>
                                    <option>1000 mg</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- <div class="col-md-6"> -->
                <!-- <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Stock et Approvisionnement</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Quantité disponible</label>
                                <input type="number" id="inputName" formControlName="quantite_dispo"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Seuil Minimum</label>
                                <input type="number" id="inputName" formControlName="seuil_minimum"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Date de péremption</label>
                                <input type="date" id="inputName" formControlName="date_peremption"
                                    class="form-control">
                            </div>
                        </div>
                    </div> -->
                <!-- /.card -->
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-12">
                    <a class="btn btn-danger btn-lg">Annulé</a>
                    <button type="submit" [disabled]="medocForm.invalid"
                        class="btn btn-success btn-lg float-right">Valider</button>
                </div>
            </div>
        </form>
        <form [formGroup]="approForm" (ngSubmit)="onSubmit()" *ngIf="approvisionnerMedoc">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Identification du médicament</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <div class="form-group">
                                <label for="inputName">Nom commercial</label>
                                <input type="text" id="inputName" formControlName="nom_commercial" class="form-control">
                            </div> -->
                            <!-- <div class="form-group">
                <label for="inputDescription">Prénom</label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
              </div> -->

                            <!-- <div class="form-group">
                                <label for="inputClientCompany">Nom Générique</label>
                                <input type="text" id="inputClientCompany" formControlName="nom_generique"
                                    class="form-control">
                            </div> -->
                            <div class="form-group">
                                <label for="inputStatus">Nom du produit</label>
                                <select id="inputStatus" formControlName="nom_produit"
                                    class="form-control custom-select">
                                    <option selected disabled>Choisissez le produit</option>
                                    <option *ngFor="let data of filteredData">{{data.nom_commercial}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputStatus">Dosage</label>
                                <select id="inputStatus" formControlName="dosage" class="form-control custom-select">
                                    <option selected disabled>Choisissez la Catégorie</option>
                                    <option *ngFor="let dosage of dosagesDisponibles" [value]="dosage">{{dosage}}
                                    </option>
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <label for="inputStatus">Forme</label>
                                <select id="inputStatus" formControlName="forme" class="form-control custom-select">
                                    <option selected disabled>Choisissez la forme</option>
                                    <option>Sirop</option>
                                    <option>Comprimé</option>
                                    <option>Injection</option>
                                </select>
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="inputStatus">Dosage</label>
                                <select id="inputStatus" formControlName="dosage" class="form-control custom-select">
                                    <option selected disabled>Choisissez le dosage</option>
                                    <option>250 mg</option>
                                    <option>500 mg</option>
                                    <option>1000 mg</option>
                                </select>
                            </div> -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Approvisionnement</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="inputName">Quantité disponible</label>
                                <input type="number" id="inputName" formControlName="quantite_total"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Seuil Minimum</label>
                                <input type="number" id="inputName" formControlName="seuil_minimum"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputName">Date de péremption</label>
                                <input type="date" id="inputName" formControlName="date_peremption"
                                    class="form-control">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a class="btn btn-danger btn-lg">Annulé</a>
                    <button type="submit" [disabled]="approForm.invalid"
                        class="btn btn-success btn-lg float-right">Valider</button>
                </div>
            </div>
        </form>
        <br><br>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer>