<div class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"><b>Infirmerie</b> UKAG</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Quel type de compte voulez vous créer ?</p>
          <div class="col-lg-12 col-6">
            <!-- small box -->
            <div class="small-box bg-info" href="#">
              <div class="inner">
                <h3>Médecin</h3>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">Compte Médecin <i class="fas fa-arrow-circle-right"></i></a>
            </div>
  
            <div class="small-box bg-warning" href="#">
              <div class="inner">
                <h3>Logistique</h3>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">Compte Logistique <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            <div class="small-box bg-danger" href="#">
              <div class="inner">
                <h3>Gestionnaire</h3>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">Compte Gestionnaire <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            
          </div>
  
  
  
          <!-- <div class="social-auth-links text-center mt-2 mb-3">
                <a href="#" class="btn btn-block btn-primary">
                  <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                  <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
              </div> -->
          <!-- /.social-auth-links -->
  
          <p class="mb-1">
            <a href="/inscription">Retour en Arrière</a>
          </p>
          <!-- <p class="mb-0">
                <a href="register.html" class="text-center">Register a new membership</a>
              </p> -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>